<!-- header.component.html -->
<header>
  <nav>

    <ul class="leftMenu" *ngIf="sessionData=='true'">
      <li><a routerLink="/assetCard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
      <li><a routerLink="/addAsset" (click)="addAsset()" routerLinkActive="active">Add Asset</a></li>
      <li><a [routerLink]="['/assetlist', 'Action']" [queryParams]="{ Action: 'AllActive' }"
          routerLinkActive="active">Asset</a></li>
    </ul>

    <ul class="leftMenu" *ngIf="sessionData=='false'">
      <li><a routerLink="/login" (click)="alertNotification()">Home</a></li>
      <li><a routerLink="/login" (click)="alertNotification()">Add Asset</a></li>
      <li><a routerLink="/login" (click)="alertNotification()">Asset</a></li>
    </ul>

<!-- 
    <li><a routerLink="/contact">Contact</a></li> -->

    <ul class="rightMenu">

      <li class="rightButton" *ngIf="sessionData=='false'"><a routerLink="/login"> <button>Login</button></a></li>

      <li class="rightButton" *ngIf="sessionData=='true'" (click)="openLogout()">{{employee.employeeName}}</li>

      <li  class="rightButton" *ngIf="logoutOption" (click)="employeeProfile()"> <button> Profile</button></li>  
      <li  class="rightButton" *ngIf="logoutOption" (click)="logout()"> <button>Logout</button></li>  
    
    </ul>
   
  </nav>
</header>

<router-outlet></router-outlet>