.card-container {
    display: flex;
    gap: 16px;
    padding: 16px;
    width: 80%;
    margin: 0 auto; 
   
    margin-top: 60px; 
    padding: 50px;
  }
  
  .card {
    cursor: pointer;
    flex: 0 0 calc(33.33% - 46px); 
    max-width: calc(33.33% - 16px); 
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }

  /* h2{
    color: green;
  } */